<!DOCTYPE html>
<html>
  <head>
    <title>Boman Industries</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/popper.js"></script>
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <script src="/javascripts/jquery.slim.min.js"></script>
    <script language="javascript" src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
  </head>
  <body>
    <% include nav %>  
    <div class="card" style="background-color:lightgray; border-color:black;">
      <img class="card-img-top" src="images/HomeImage.jpg" alt="">
      <div class="card-body">
        <h4 class="card-title  fa5-bold"> <b> We Are Committed to the Highest Standards of Innovation, Quality, Materials, and Workmanship.</b></h4>
        <p class="card-text fa5-bold"><b> Boman Industries, Inc.</b> is the foremost pioneer in the design and development of motorized carriages and Digital radio control systems for logging. To meet the everincreasing need for efficiency, Boman Industries has developed a complete line of motorized logging carriages. Our goal is to give you greater productivity and greater profits through the full use of modern technology. At Boman Industries, we are committed to the highest standards of innovation, quality, materials, and workmanship.</p>
      </div>
    </div>

  </body>
</html>
