<!DOCTYPE html>
<html>
  <head>
    <title>Boman Industries</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <% include nav %>  
    <div class="card">
      <div style="position: fixed; z-index: -99; width: 100%; height: 100%">
        <iframe frameborder="0" height="100%" width="100%"
          src="https://youtube.com/embed/dGXpurDqFZc?autoplay=1&controls=0&showinfo=0&autohide=1&mute=1&loop=1">
        </iframe>
      </div>
    </div>

    <div class=" card special-card" style="opacity: .7;">
        <h5 class="card-title"> We Are Committed to the Highest Standards of Innovation, Quality, Materials, and Workmanship.</h5>
        <p class="card-text"> Boman Industries, Inc. is the foremost pioneer in the design and development of motorized carriages and Digital radio control systems for logging. To meet the everincreasing need for efficiency, Boman Industries has developed a complete line of motorized logging carriages. Our goal is to give you greater productivity and greater profits through the full use of modern technology. At Boman Industries, we are committed to the highest standards of innovation, quality, materials, and workmanship</p>

    </div>
  </body>
</html>
