<link rel="stylesheet" href="stylesheets/nav.css">
<div class="nb">
  <a href="#home"></a>
  <a href="#news">News</a>
  <div class="dd">
    <button class="dropbtn">Skycars
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dd-content">
      <div class="row">
        <div class="column">
          <h3>Mark IV</h3>
          <a href="#"><img class="img-thumbnail" src="images/HomeImage.jpg" alt=""></a>
        </div>
        <div class="column">
          <h3>Mark IV</h3>
          <a href="#"><img class="img-thumbnail" src="images/HomeImage.jpg" alt=""></a>
        </div>
        <div class="column">
          <h3>Mark IV</h3>
          <a href="#"><img class="img-thumbnail" src="images/HomeImage.jpg" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</div>